
.schoolName {
    margin-bottom: 10px;
    /* border-top: 1px solid #ccc; */
    padding-top: 10px;
    text-align: center;
}

.schoolName label {
    margin-left: 20px;
    font-size: 14.5px;
    text-align: center;
}

.schoolName input {
    margin-left: 40px;
    height: 30px;
    width: 600px;
    color: gray;
    font-size: 13px;
    background-color: #f4f4f4;
    border: 0.5px solid #ccc;
}

/* 학년/반 선택 부분 css */
.dropdown-field {
    /* border-top: 1px solid #ccc; */
    padding-top: 10px;
    text-align: center;
}

.dropdown-field select {
    margin-left: 59px;
    margin-bottom: 10px;
    width: 600px;
    height: 30px;
    color: gray;
    font-size: 13px;
    background-color: #f4f4f4;
    border: 0.5px solid #ccc;
}

.dropdown-field label {
    /* margin-left: 5%; */
    font-size: 14.5px; 
    text-align: center;
}

/* 학급 이름(선택) css */
.input-field {
    /* border-top: 1px solid #ccc; */
    /* border-bottom: 1px solid #ccc; */
    text-align: center;
}

.input-field input {
    margin-left: 10px;
    width: 600px;
    height: 30px;
    background-color: #f4f4f4;
    border: 0.5px solid #ccc;
    font-size: 13.5px;
}

.input-field label {
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14.5px;
    text-align: center;
}