.container {
    max-width: 800px;
    margin: 0 auto;
    /* padding: 20px; */
    border-radius: 8px;
}

.noticetitle {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #333;
}

.form {
  width: 100%;
  background-color: #fff;
}

/* form-group : 제목 작성 */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border-top: 1px solid #ccc;
    margin-top: 15px;
    padding-top: 10px;
    font-size: 15px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
    font-size: 13.5px;
}


/* noticeCategory-group : 카테고리 선택 */
.noticeCategory-group {
    margin-bottom: 15px;
    font-size: 15px;
}

.noticeCategory-group label {
    margin-bottom: 5px;
}

.noticeCategory-group select {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13.5px;
}

.noticeCategory-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13.5px;
    min-height: 100px;
}


/* noticeContent-group : 내용 작성란 */
.noticeContent-group {
    margin-bottom: 10px;
    font-size: 15px;
}

.noticeContent-group label {
    margin-bottom: 5px;
}

.noticeContent-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.noticeContent-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    min-height: 100px;
    background-color: #fff;
}

/* noticeImg-group : 이미지 선택 */
  .noticeImg-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .image-upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
    background-color: #f9f9f9;
    border-radius: 4px;
  }

  .noticeImg-group input {
    width: 78%;
    height: 35px;
    font-size: 13px;
  }
  
  .image-input {
    display: none; /* 파일 입력 필드는 숨김 처리 */
  }
  
  .Image-upload-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #535353;
    cursor: pointer;
    height: 39px;
    margin-left: 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 13.5px;
    line-height: 20px;
    box-shadow: 2px 2px 3px gray;
  }
  
  .Image-upload-button:hover {
    background-color: #f6f6f6;
    color: #535353;
  }
  

/* noticeFile-group : 파일 선택 */
.noticeFile-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
.noticeFile-group input {
  width: 78%;
  height: 35px;
  font-size: 13px;

}
  
  .file-upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
    background-color: #f9f9f9;
    border-radius: 4px;
  }
  
  .file-input {
    display: none; /* 파일 입력 필드는 숨김 처리 */
  }
  
  .file-upload-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #535353;
    cursor: pointer;
    height: 39px;
    margin-left: 10px;
    border-radius: 4px;
    /* text-align: center; */
    font-size: 14px;
    line-height: 20px;
    box-shadow: 2px 2px 3px gray;
    /* box-shadow: -1px -1px 2px #fff; */
  }
  
  .file-upload-button:hover {
    background-color: #f6f6f6;
    color: #535353;
  }

  .noticeButton-group {
    text-align: center;
  }

.noticeButton-group button {
  background-color: #fff;
  color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  width: 80px;
  height: 35px;
  box-shadow: 2px 2px 3px #ccc;
  margin: 5px;
}

.noticeButton-group button:hover {
  background-color: #fff;
  color: #076c07;
  border-color: #076c07;
  font-weight: bold;
}