.teacher_profile {
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #f8f8f8;
    /*border-radius: 10px;*/
    border-bottom: 1px solid gray;  /* 하단 줄 긋기 */
    border-top: 1px solid gray;     /* 상단 줄 긋기 */
}

.teacher_profile button {
    background-color: white;
    border: none;
    color: black;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 4px gray;
}

.google_profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.school label {
    margin-right: 10px;
}

.school input {
    width: 15%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.school button {
    padding: 8px 12px;
    border: none;
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px gray;
    margin-right: 10px;
}

.school button:hover {
    background-color: #ddd;
}

.teacher_profile button {
    display: inline-block;
    margin: 5px 0;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

