.attendance-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.attendance-container button {
    text-align: center;
}

.attedanceStudentId {
    text-align: left;
}

.click-studentDatail {
    cursor: pointer;
}

.click-studentDatail:hover {
    background-color: #f1f1f1;
}

.attendanceNo {
    text-align: left;
    width: 7%;
}

.attedance-title{
    font-size: 33px;
    font-weight: bold;
    text-align: center;
}
.attendance-table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}


.attendance-table th, .attendance-table td {
    padding: 7px;
    text-align: center;
}

.attendance-table th {
    background-color: rgba(88, 157, 45, 0.17); /* 17% 투명도 적용 */
    border-bottom: 1px solid gray;
    font-size: 16px;
}

.attendance-date-input, .attendance-date-readonly, .attendance-etc-input {
    width: 70%;
    padding: 5px;
    margin-top: 3px;
    font-size: 14px;
}

/* .inputDate {
    width: 20%;
} */

.inputDate input{
    margin-left: 5px;
    width: 55%;
}

.attendance-table input {
    background-color: #fff;
    border: 1px solid #a6a6a6;
    border-radius: 4px;
    color: #a6a6a6;
}

.attendance-date-readonly {
    background-color: #f5f5f5;
}

.attendance-radio-group {
    display: flex;
    justify-content: space-between;
}

.attendance-radio-group input {
    margin-right: 5px;
}


.attendance-radio-group label {
    font-size: 14px;
}

.attendance-state {
    font-size: 14px;
}

/* .attendance-submit-btn {
    padding: 10px 20px;
    background-color: #050505;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
} */

/* 출석부 '제출/수정' 버튼 디자인 변경 */
/* .attendance-container button {
    background-color: white;
    border-radius: 4px;
    color: rgb(16, 179, 16);
    border: 2px solid rgb(16, 179, 16);
    box-shadow: 2px 2px 3px gray;
    font-size: 14px;
} */

.attendance-container button {
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #4CAF50;
    width: 120px;
    height: 40px;
    box-shadow: 1px 1px 2px gray;
    border: 2px solid rgb(16, 179, 16);
    text-align: center;
}

/* .attendance-submit-btn:hover {
    background-color: white;
    color: #076c07;
    border: 2px solid #076c07;
    font-weight: bold;
} */

.attendance-container button:hover {
    background-color: #fff;
    color: #076c07;
    border-color: #076c07;
    font-weight: bold;
}

.attendance-etc-input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    font-size: 14px;
}
.attendance-present {
    color: blue; 
    font-weight: bold; 
}

.attendance-late {
    color: orange; 
    font-weight: bold; 
}

.attendance-absent {
    color: red; 
    font-weight: bold; 
}

.attendance-earlyLeave {
    color: gray; 
    font-weight: bold; 
}