
.new_voting_modal{
    height: 800px;
    position: absolute;
    inset: 50% auto auto 50%;
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 0px;
    outline: none;
    padding: 42px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 716px;
  }

  .new-voting-title{
    margin-top: 30pz;
  }

  .new-voting-first-input{
    margin-top: 29px;
  }

  .contents_detail{
    font-size: 14px;
    color: gray;
    margin-top: 10px;
  }

  .radio-box-text{
    margin-top: 10px;
    margin-left: 10px;
  }