.NonVotingModal ::content {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 600;
    border-radius: 4px;
    border: none;
    padding: 42px;
    font-size: 16px;
    box-shadow: 1px 1px 1px 2px #ccc;
}

.nonVoting-title {
    margin-bottom: 400px;
}

.NonVotingModal-close-button {
    font-size: 14px;
    border: 2px solid red;
    border-radius: 4px;
    background-color: #fff;
    color: red;
}