.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* form-group : 제목 작성 */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border-top: 1px solid #ccc;
    margin-top: 15px;
    padding-top: 10px;
    font-size: 15px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    background-color: #f9f9f9;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
    font-size: 13.5px;
}


/* noticeCategory-group : 카테고리 선택 */
.noticeCategory-group {
    margin-bottom: 15px;
}

.noticeCategory-group label {
    margin-bottom: 5px;
}

.noticeCategory-group select {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13.5px;
}

.noticeCategory-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    min-height: 100px;
}


/* noticeContent-group : 내용 작성란 */
.noticeContent-group {
    margin-bottom: 10px;
}

.noticeContent-group label {
    margin-bottom: 5px;
}

.noticeContent-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.noticeContent-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    min-height: 100px;
    background-color: #f9f9f9;
}

/* noticeImg-group : 이미지 선택 */
.noticeImg-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .image-upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
    background-color: #f9f9f9;
    border-radius: 4px;
  }
  
  .image-input {
    display: none; /* 파일 입력 필드는 숨김 처리 */
  }
  
  .Image-upload-button {
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    vertical-align: middle;
    background-color: #ccc;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    box-shadow: 2px 2px 3px gray;
  }
  
  .Image-upload-button:hover {
    background-color: #777777;
    color: #fff;
  }
  

/* noticeFile-group : 파일 선택 */
.noticeFile-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .file-upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
    background-color: #f9f9f9;
    border-radius: 4px;
  }
  
  .file-input {
    display: none; /* 파일 입력 필드는 숨김 처리 */
  }
  
  .file-upload-button {
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    vertical-align: middle;
    background-color: #ccc;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
        box-shadow: 2px 2px 3px gray;
  }
  
  .file-upload-button:hover {
    background-color: #777777;
    color: #fff;
  }

/* 등록하기 버튼 */
/* .button-primary {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 2px 2px 3px grey;
    height: 40px;
}


.button-primary:hover {
    background-color: #f9f9f9;
    color: #076c07;

} */

/* 취소 버튼 */
/* .button-secondary {
    color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    height: 40px;
    box-shadow: 2px 2px 3px gray;
}

.button-secondary:hover {
    background-color: white;
    color: #076c07;
    border: 2px solid #076c07;

} */

.button-group button {
  background-color: #fff;
  color: #4CAF50;
  border-color: #4CAF50;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  width: 90px;
  height: 40px;
  box-shadow: 2px 2px 3px gray;
}

.button-group button:hover {
  background-color: #076c07;
  color: #fff;
  border: none;
}