.notice-container {
    width: 73%;
    margin: 0 auto;
    padding: 20px;
}

.notice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.notice-header h1 {
    font-size: 33px;
    font-weight: bold;
    text-align: center;
}

/* 공지사항 작성하기 버튼 */
.notice-header button {
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #4CAF50;
    width: 120px;
    height: 40px;
    box-shadow: 1px 1px 2px gray;
    border: 2px solid rgb(16, 179, 16);
    z-index: 50px;
}

.notice-header button:hover {
    background-color: white;
    color: #076c07;
    border: 2px solid #076c07;
    
}

.notice-table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.notice-table tr {
    text-align: center;
    /* border-top: 0.5px solid #ccc; */
}

.notice-table th {
    background-color: rgba(88, 157, 45, 0.17);
    padding: 10px;
    border-bottom: 1px solid gray;
}

.notice-tbody td {
    padding: 8px;
    font-size: 15px;
}

.notice-content-date {
    color: gray;
}

.noticeContent {
    text-align: left;
}

/* .notice-table th, .notice-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.notice-table th {
    background-color: rgba(88, 157, 45, 0.17);
    border-bottom: 2px solid #ddd;
}

.notice-table td {
    border-right: 1px solid #ddd;
} */

.notice-table td:last-child {
    border-right: none;
}

.notice-table td .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notice-tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* 호버 효과 */
/* .notice-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
} */

.page-navigation {
    text-align: center;
    margin-top: 20px;
}

.page-navigation button {
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    border: 0.5px solid #ccc;
    border-radius: 5px;
}

.page-navigation span {
    font-size: 16px;
    margin: 0 10px;
}

.notice-submit-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.notice-submit-btn:hover {
    background-color: #45a049;
}

.notice-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.notice-modal-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
}