.seat-arrangement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.seat-grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    gap: 5px;
    cursor: pointer;
}

.seat {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: background-color 0.2s;
}

.seat.selected {
    background-color: rgb(235, 235, 108);
}

.register-button {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 13px;
    background-color: rgb(150, 218, 16);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 140px;
}

/* 임시의 교탁 버튼임 */
.table-button{ 
    margin-top: 24px;
    margin-right: 20px;
    font-size: 15px;
    background-color: rgb(219, 219, 80);
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    width: 140px;
    margin-left: 303px;

}

.seat.created {
    width: 88px;
    height: 56px;
    background-color: rgb(235, 235, 108);
    border: none;
}


.created-seats {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    gap: 71px;
    margin-top: 38px;
    margin-left: 141px;
}

