.small-timer {
    width: 80px;
    height: 70px;
    background-color: green;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: grab;
    transition: transform 0.2s ease;
}

.small-timer:active {
    cursor: grabbing;
    transform: scale(1.1);
}

.timer-display {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
