/* Timer.css */

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.circle-timer {
    position: relative;
    margin-bottom: 20px;
}

.input {
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
}
