
.top-header {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 10px;
}


.main-buttons {
  display: flex;
  justify-content: space-evenly; 
  width: 100%; 
  padding: 10px 0; 
}


.convenience-functions {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center; 
}


.convenience-buttons {
  display: flex;
  flex-direction: column; 
  gap: 4px; 
  align-items: flex-start;
  padding-left: 20px; 
  max-width: 200px; 
}


.convenience-buttons button {
  width: 100%; 
  padding: 10px;
  background-color: #dcdcdc; 
}

.convenience-buttons button:hover {
  background-color: #c0c0c0; 
}
